<header [showSearch]="false"></header>
<div class="article_container" *ngIf="article$ | async as article">
    <h2 class="article_title">
        {{article.title}}
    </h2>
    <div class="article_header">
        <div>
            Source: {{article.source}}
        </div>
        <div>
             Author: {{article.author}}
        </div>
        
    </div>
    <div class="article_body">
        <div class="article_body_description"> 
            {{article.description}}
        </div>
        <div class="article_body_image">
            <img class="article_image" src=""[src]="article.urlToImage? article.urlToImage: 'assets/img/no-image.jpg'" alt="This article has no image">
        </div>
    </div>
</div>