.article-container{
    background-color: var(--main-bg-color);
    height:100%;
}

.article-body{
    margin: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article-body--description{
    max-width: 100%;
}



.article-body--image{

}
.article-image{
    max-width: 800px;
    min-width: 300px;
}

.article-header{
    margin: 10px;
}


.article-title{
    margin: 10px;
    text-shadow: 3px 2px 5px;
    background-color: var(--main-bg-color)
}