.news_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.news_card {
    max-width: 350px;
    width: 100%;
    min-width: 250px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 12px;
    box-shadow: 1px 5px 8px 0px;
}

.news_card_body{
    padding: 10px 0 10px 0;
}